.options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: #282B34;
    color: white;
    margin: 3px;
}